@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Monument";
  src: url("./../public/MonumentExtended-Bold.ttf");
}

@font-face {
  font-family: "Monument-Grotesk";
  src: url("./../public/ABCMonumentGrotesk-Medium-Trial.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Monument-Grotesk";
  src: url("./../public/ABCMonumentGrotesk-Regular-Trial.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Prophet";
  src: url("./../public/fonts/ABCProphetVariable-Trial.woff2") format("woff2-variations");
}

body, html {
  background-color: #e8ebec;
}
  

.gallery{
  width: 70%;
}

.project{
  border-top: 2px solid black;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project p{
  font-size: 5vw;
  margin: 0px;
}
.project p:nth-of-type(1){
  margin-right: 0.75vw;
}
.project p:nth-of-type(2){
  margin-left: 0.75vw;
}
.project:last-of-type{
  border-bottom: 2px solid black;
}
.project img{
  width: 10vw;
}

.project .imgContainer{

  overflow: hidden;

  display: flex;

  justify-content: center;

  width: 0;

}

@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  background: #efefef;
  font-family: 'Inter var', sans-serif;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iYmxhY2siLz48L3N2Zz4='),
    auto;
}

h1 {
  font-size: 20em;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  margin: 0;
  padding: 0;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}


.hover-reveal {
	position: absolute;
	z-index: -1;
	width: 220px;
	height: 320px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.hover-reveal__inner {
	overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}